{% extends 'pizza/base.html' %}
{% block 'body' %}
<div class="container">

    <h1>Display DataBase</h1>

    <style>
        .zui-table {
            border: solid 1px #DDEEEE;
            border-collapse: collapse;
            border-spacing: 0;
            font: normal 15px Arial, sans-serif;
        }
        .zui-table thead th {
            background-color: #2b5f82;
            border: solid 1px #8eafc9;
            color: #ffffff;
            padding: 10px;
            text-align: left;
            text-shadow: 1px 1px 1px #2b5f82;
        }
        .zui-table tbody td {
            border: solid 1px #DDEEEE;
            color: #333;
            padding: 10px;
            text-shadow: 1px 1px 1px #fff;
        }
    </style>

    <br><br>

    <table class="zui-table">
        <thead>
            <tr>
                <th>
                    Topping 1
                </th>
                <th>
                    Topping 2
                </th>
                <th>
                    Size
                </th>
            </tr>
        </thead>
        {% for instance in dict_size %}
            <tr>
                <td>
                    {{ instance.topping1 }}
                </td>
                <td>
                    {{ instance.topping2 }}
                </td>
                <td>
                    {{ instance.size }}
                </td>
            </tr>

        {% endfor %}
    </table>

</div>


<div class="text-center">
    <br>
         <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>

</div>
{% endblock %}

